
.view {
	-webkit-transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	width: 100%;
}

.hidden {
	opacity: 0;
}

.removed {
	display: none;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

/**
 * Loading-bar View
 */

.loading {
	width: 500px;
	margin: 250px auto 0 auto;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
}

/**
 * LightBox View
 */

.lightbox {
	border-radius: 3px;
	padding: 10px;
	background: #EEE;
	border: 1px solid #CCC;
	position: relative;
}

.lightbox h1 {
	margin-top: 0;
}

.lightbox .mask {
	border: 20px solid #FFF;
	background: #CCC;
	overflow: hidden;
	position: relative;
	width: 900px;
	height: 550px;
}

.lightbox ul {
 	position: absolute;
	float: left;
	width: 10000px;
	margin: 0;
	padding: 0;	
	-webkit-transition: left 600ms ease-in-out;
	-moz-transition: left 600ms ease-in-out;
}

.lightbox li {
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	width: 900px;
	height: 550px;
	margin: 0;
	float: left;
	list-style: none;
	position: relative;
}

.lightbox li .pleasewait{
	position: absolute;
	background: #EEE url(../images/loading.gif) center center no-repeat;
	top:0;
	bottom: 0;
	width: 100%;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
}
.lightbox li.ready .pleasewait{
	opacity: 0;
}


.lightbox li .caption{
	position: absolute;
	background: rgba(0,0,0,0.5);
	bottom: 20px;
	width: 98%;
	padding: 1%;
	text-align: right;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
}

.lightbox li:hover .caption{
	opacity: 0;
}

.lightbox li h1{
	color: #FFF;
	font-size: 30px;
	margin: 0;
}
.lightbox li span{
	color: #DDD;
	margin: 0;
}

.lightbox .nav {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	height: 100px;
	color: #CCC;
	z-index: 2;
}
.lightbox .nav:hover {
	color: #999;
}
.lightbox .nav#prev {
	left: -16px;
}
.lightbox .nav#next {
	right: -16px;
}